body{
    background-image: url("https://s2.glbimg.com/6H-jShf5gOUl-PKDjrS7Gwbg2fg=/0x0:100x500/984x0/smart/filters:strip_icc()/i.s3.glbimg.com/v1/AUTH_59edd422c0c84a879bd37670ae4f538a/internal_photos/bs/2023/n/B/SAg57tTcA6qGIspoI9ZA/2023-05-01-zeenunes-anitta-metgala-0030.jpg");
background-repeat: no-repeat;
background-size: 40%;

}  